@use "lib/viewport";

div.discourse-kofi-user-controls {
  background: var(--primary-very-low);
  margin-bottom: 1em;
  display: flex;
  align-items: center;

  .controls {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;

    .inline-form {
      margin-bottom: -0.5em;
    }

    .search .inline-form {
      flex-wrap: nowrap;
    }
  }
}

.d-table__row.kofi_payment_overview {
  @include viewport.until(md) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.kofi_payment_transaction_id {
  font-family: monospace;
}

#main-outlet > section.kofi_dashboard__sections {
  background: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1em;
}

.kofi_dashboard__sections {
  > div {
    flex-basis: 30%;

    &.kofi_dashboard__goal {
      min-width: 300px;      
      flex-grow: 1;
    }

    &.kofi_dashboard__payments {
      flex-grow: 2;
      flex-basis: 50%;
    }
  }
}

.kofi_dashboard__widget {
  iframe {
    border: 5px solid #f9f9f9;
    background: #f9f9f9;
    border-radius: 8px;
  }
}

.kofi_dashboard__goal {
  .kofi_dashboard__goal_container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .kofi_dashboard__goal_bar {
    --size: 250px;
    --bar-width: 18px;
    --size2: calc(var(--size) / 2);
    --radius: calc((var(--size) - var(--bar-width)) / 2);
  }

  .kofi_dashboard__goal_bar circle {
    cx: var(--size2);
    cy: var(--size2);
    r: var(--radius);
    stroke-width: var(--bar-width);
    fill: none;
    stroke: var(--tertiary);
  }

  .kofi_dashboard__goal_bar circle.border {
    stroke: var(--primary-low-mid);
  }

  .kofi_dashboard__goal_bar circle.bg {
    stroke: var(--primary-low);
    stroke-width: calc(var(--bar-width) - 2px);
  }

  .kofi_dashboard__goal_bar circle.fg {
    --circ: calc(var(--radius) * pi * 2);
    --dash: calc((var(--progress) * var(--circ)) / 100);
    transform: rotate(-90deg);
    transform-origin: var(--size2) var(--size2);
    stroke-dasharray: var(--dash) calc(var(--circ) - var(--dash));
    stroke: var(--tertiary);
    stroke-width: calc(var(--bar-width) - 6px);
  }

  .kofi_dashboard__goal_bar text {
    text-anchor: middle;
  }

  .kofi_dashboard__goal_bar text.progress {
    fill: var(--primary);
    font-size: calc(var(--size) / 4);
  }

  .kofi_dashboard__goal_bar text.goal-target {
    fill: var(--primary-low-mid);
    font-size: calc(var(--size) / 12);
  }
}

.kofi_dashboard__leaderboard {
  ol {
    margin: 0;
    padding: 0;

    li {
      --kofi_trophy_color: var(--d-badge-card-background-color);
      display: flex;
      align-items: center;
      gap: 0.25em;
      list-style: none;
      font-size: var(--font-up-2);
      margin-bottom: 5px;
      padding: 0.33em;
      background-color: color-mix(
        in oklab,
        var(--d-badge-card-background-color) 80%,
        var(--kofi_trophy_color)
      );
      border: 1px solid var(--content-border-color);
      border-radius: var(--d-border-radius);

      .kofi_dashboard__leaderboard_trophy {
        color: var(--kofi_trophy_color);
        font-size: larger;
        line-height: normal;
      }

      &.leaderboard0 {
        font-size: var(--font-up-5);

        --kofi_trophy_color: var(--gold);
      }

      &.leaderboard1 {
        font-size: var(--font-up-4);

        --kofi_trophy_color: var(--silver);
      }

      &.leaderboard2 {
        font-size: var(--font-up-3);

        --kofi_trophy_color: var(--bronze);
      }
    }
  }
}
