discourse_kofi:
  kofi_enabled:
    default: false
    client: true
  kofi_webhook_token:
    default: ''
    client: false
    secret: true
  kofi_account:
    default: ''
    client: true
  kofi_dashboard_enabled:
    type: enum
    default: disabled
    client: true
    choices:
      - disabled
      - authenticated_only
      - enabled
  kofi_dashboard_in_menu:
    type: boolean
    default: true
    client: true
  kofi_dashboard_summary_types:
    type: list
    default: donation|subscription
    client: false
    allow_any: false
    list_type: compact
    choices: &payment_types
      - donation
      - subscription
      - commission
      - shop_order
  kofi_dashboard_summary_periods:
    type: list
    default: 'all time'
    client: false
    allow_any: false
    list_type: compact
    choices:
      - last 7 days
      - last month
      - last year
      - all time
      - current month
      - current year
  kofi_dashboard_count:
    default: 50
    client: true
  kofi_dashboard_types:
    type: list
    default: donation
    client: false
    allow_any: false
    list_type: compact
    choices: *payment_types
  kofi_dashboard_anonymous_view:
    type: list
    default: user|message
    client: false
    allow_any: false
    list_type: compact
    choices: &visibility
      - amount
      - user
      - message
      - include_unknown_users
  kofi_dashboard_authenticated_view:
    type: list
    default: user|message|include_unknown_users
    client: false
    allow_any: false
    list_type: compact
    choices: *visibility
  kofi_goal_amount:
    default: 0
    client: false
  kofi_goal_period:
    default: monthly
    type: enum
    choices:
      - monthly
      - yearly
      - since
  kofi_goal_since:
    default: ''
    type: datetime
  kofi_goal_show_amount:
    default: false
    client: false
  kofi_goal_types:
    type: list
    default: donation|subscription
    client: false
    allow_any: false
    list_type: compact
    choices: *payment_types
  kofi_goal_progress_bar_integration:
    default: false
  kofi_leaderboard_count:
    default: 10
    client: true
    min: 0
  kofi_leaderboard_days:
    default: 90
    client: true
    min: -1
  kofi_leaderboard_types:
    type: list
    default: donation|subscription|commission|shop_order
    client: false
    allow_any: false
    list_type: compact
    choices: *payment_types
