name: Discourse ESR

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    uses: discourse/.github/.github/workflows/discourse-plugin.yml@v1
    with:
      core_ref: esr
